<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
    <header>
        <h1>Video List</h1>
            <a href="{% url 'video_create' %}"><div class="btn btn-create">Create New Video</div></a>
    </header>

    <main>
        <ul class="video-list">
            {% for video in videos %}
                <li class="video-item">
                    <div class="video-preview">
                        <img src="{{ video.preview.url }}" alt="Preview" class="preview-image">
                    </div>
                    <div class="video-details">
                        <h2 class="video-title"><a href="{% url 'video_update' video.pk %}">{{ video.title }}</a></h2>
                        <p class="video-description">{{ video.description }}</p>
                        {% if video.user == user %}
                            <button class="btn btn-delete"><a href="{% url 'video_delete' video.pk %}">Delete</a></button>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Video Service</p>
    </footer>
</body>
</html>
