<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
    <header>
        <h2>Список видео</h2> 
        <form method="get" action="{% url 'video_list' %}">
            <div>
                {{ filter_form.query.label_tag }}
                {{ filter_form.query }}
            </div>
            <div>
                {{ filter_form.category.label_tag }}
                {{ filter_form.category }}
            </div>
            <button type="submit" class="btn btn-primary">Искать</button>
        </form>
        <a href="{% url 'video_create' %}"><div class="btn btn-create">Create New Video</div></a>
    </header>

    <main>
        <ul class="video-list">
            {% for video in videos %}
                <li class="video-item">
                    <div class="video-preview">
                        <a href="{% url "video_detail" video.pk %}"><img src="{{ video.preview.url }}" alt="Preview" class="preview-image"></a>
                    </div>
                    <div class="video-details">
                        <a href="{% url "video_detail" video.pk %}"><h2 class="video-title">{{ video.title }}</h2></a>
                        <p class="video-description">{{ video.description }}</p>
                        <h3>{{ video.category }}</h3>
                        {% if video.user == user %}
                            <button class="btn btn-delete"><a href="{% url 'video_update' video.pk %}">Change</a></button>
                            <button class="btn btn-delete"><a href="{% url 'video_delete' video.pk %}">Delete</a></button>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Video Service</p>
    </footer>
</body>
</html>
