
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comment_list</title>
</head>
<body>
  {% block content %}
      <h1>{{ comment }}</h1>
  
      <ul>
          {% for item in comments_with_details %}
              <li>
                <p><strong>{{ item.comment.user.username }}</strong> оставил комментарий на видео 
                 </p>                 
                  <p>{{ item.comment.text }}</p>
                  <p><small>Опубликовано: {{ item.comment.created_at }}</small></p>
              </li>
          {% empty %}
              <p>Комментариев нет.</p>
          {% endfor %}
      </ul>
  
      <a href="{% url 'comment_post' %}">Оставить комментарий</a>
  {% endblock %}
</body>
</html>